<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"
        android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:banner="@mipmap/tv_banner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".base.ApplicationLoader"
        tools:replace="android:supportsRtl"
        android:screenOrientation="portrait"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.OblivionUI"
        tools:targetApi="tiramisu"
        tools:ignore="DiscouragedApi">

        <service
            android:name=".OblivionVpnService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="systemExempted"
            android:process=":vpn_background">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <service
            android:name=".QuickStartService"
            android:exported="true"
            android:label="Oblivion"
            android:icon="@drawable/vpn_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

    </service>
        <activity android:name="org.bepass.oblivion.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bepass.oblivion.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OblivionUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name="org.bepass.oblivion.InfoActivity"
            android:exported="false" />

        <activity
            android:name="org.bepass.oblivion.LogActivity"
            android:exported="false" />

        <activity
            android:name="org.bepass.oblivion.SettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SplitTunnelActivity"
            android:exported="false" />
    </application>

</manifest>
